@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;

.breadcrumbs {
	font-size: 0.75rem;
	padding-bottom: 0.75rem;
	@media (min-width: $md4) {
		padding-bottom: 0.35rem;
		font-size: 0.875rem;
	}
	& a {
		text-decoration: underline;
		text-underline-position: from-font;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
