@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

.promo {
	position: relative;
	z-index: 1;
	padding: 6.25rem 0;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	min-height: rem(650);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: linear-gradient(268deg, rgba(13, 21, 52, 0) 12.46%, rgba(0, 0, 0, 0.9) 98.65%);
		z-index: -1;
	}
	& + .industries {
		margin-top: -6rem;
	}
	// .promo__caption
	&__caption {
	}
	// .promo__title
	&__title {
		max-width: 47.5rem;
		line-height: 1;
	}
	// .promo__description
	&__description {
	}
	// .promo__hint
	&__hint {
	}
	// .promo__btn
	&__btn {
		margin-top: 8.31rem;
	}
}

.benefits {
	padding: rem(40) 0 rem(70);
	// .benefits__blocks
	&__blocks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(30);
	}
	// .benefits__block
	&__block {
		border-radius: 1.25rem;
		background: #dfe1eb;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		padding: 1.75rem 2.06rem 1.5rem 2.06rem;
		border-left: rem(5) solid #313f69;
	}
	// .benefits__block-title
	&__block-title {
		color: #313f69;
		font-size: 2.875rem;
		font-weight: 500;
		line-height: 100.12%;
	}
	// .benefits__block-text
	&__block-text {
		font-size: 1.125rem;
	}
}

.offer {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background: #313f69;
	color: #fff;
	// .offer__image
	&__image {
		flex: 0 0 50%;
		align-self: stretch;
	}
	// .offer__content
	&__content {
		flex: 0 0 100%;
		transform: translateX(-50%);
	}
	// .offer__body
	&__body {
		width: 50%;
		margin-left: auto;
		padding: 6.25rem rem(45) 6.25rem 4.37rem;
	}
	// .offer__title
	&__title {
	}
	// .offer__subtitle
	&__subtitle {
		margin-top: 1.87rem;
	}
	// .offer__form
	&__form {
		margin-top: 2.5rem;
		.wpcf7-form {
			display: flex;
			flex-direction: column;
			gap: rem(16);
		}
		.form__checkbox {
			max-width: rem(225);
		}
	}
}

.about {
	display: flex;
	background: #f3f3f5;
	// .about__wrapper
	&__wrapper {
		flex: 0 0 100%;
	}
	// .about__body
	&__body {
		padding: 6.25rem 0;
		width: 50%;
	}
	// .about__title
	&__title {
	}
	// .about__text
	&__text {
		margin-top: rem(30);
		color: #141414;
		font-size: 1.125rem;
		line-height: 133.333%;
		& p {
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}
	// .about__link
	&__link {
		margin-top: 3.13rem;
	}
	// .about__image
	&__image {
		flex: 0 0 50%;
		transform: translateX(-100%);
	}
}

.clients {
	padding: 6.25rem 0;
	// .clients__title
	&__title {
	}
	// .clients__body
	&__body {
		margin-top: rem(40);
		padding: 0 rem(28);
		position: relative;
	}
	// .clients__slider
	&__slider {
	}
	// .clients__slide
	&__slide {
		border-radius: rem(20);
		overflow: hidden;
	}
	// .clients__slider-next
	&__slider-next {
	}
	// .clients__slider-prev
	&__slider-prev {
	}
}

.reviews {
	background: #f3f3f5;
	padding: 6.25rem 0;
	// .reviews__title
	&__title {
	}
	// .reviews__body
	&__body {
		margin-top: 2.5rem;
		position: relative;
	}
	// .reviews__slider
	&__slider {
	}
	// .reviews__slide
	&__slide {
		& img {
			border-radius: 1.25rem;
		}
	}
	// .reviews__slider-prev
	&__slider-prev {
	}
	// .reviews__slider-next
	&__slider-next {
	}
}

.team {
	padding: 6.25rem 0;
	// .team__title
	&__title {
	}
	// .team__body
	&__body {
		position: relative;
		padding: 0 rem(28);
		margin-top: 2.5rem;
	}
	// .team__slider
	&__slider {
	}
	// .team__slide
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .team__slide-thumb
	&__slide-thumb {
		max-width: rem(222);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			border-radius: 50%;
			aspect-ratio: 1;
		}
	}
	// .team__slide-name
	&__slide-name {
		margin-top: 1.25rem;
		font-weight: 500;
	}
	// .team__slide-position
	&__slide-position {
		margin-top: 0.62rem;
		font-size: 1.125rem;
		line-height: 133.333%;
	}
	// .team__slider-prev
	&__slider-prev {
	}
	// .team__slider-next
	&__slider-next {
	}
}

.blog {
	background: #f3f3f5;
	padding: 6.25rem 0;
	// .blog__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	// .blog__title
	&__title {
	}
	// .blog__link
	&__link {
	}
	// .blog__body
	&__body {
		margin-top: rem(30);
		position: relative;
	}
	// .blog__slider
	&__slider {
	}

	// .blog__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	// .blog__item-poster
	&__item-poster {
		height: 0;
		position: relative;
		width: 100%;
		padding-bottom: 66%;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 1.25rem;
		}
	}
	// .blog__item-time
	&__item-time {
		color: #a8a8a8;
		font-size: 1rem;
		line-height: 100%;
	}
	// .blog__item-title
	&__item-title {
		font-weight: 500;
		margin-bottom: auto;
	}
	// .blog__item-btn
	&__item-btn {
		margin-top: 1rem;
		align-self: flex-start;
	}
	// .blog__btn
	&__btn {
	}
	// .blog__slider-prev
	&__slider-prev {
		top: 26%;
	}
	// .blog__slider-next
	&__slider-next {
		@extend.blog__slider-prev;
	}
}

.callback {
	background: #313f69;
	color: #fff;
	padding: 6.25rem 0;
	// .callback__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 7rem;
	}
	// .callback__main
	&__main {
	}
	// .callback__title
	&__title {
	}
	// .callback__subtitle
	&__subtitle {
		margin-top: rem(30);
	}
	// .callback__contacts
	&__contacts {
		margin-top: rem(43);
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}
	// .callback__phone
	&__phone {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .callback__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
	// .callback__social
	&__social {
		width: 2.9375rem;
		height: 2.9375rem;
		font-size: 1.5rem;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		transition: background-color 0.3s ease;
		&.icon-whatsapp {
			background: #2aa81a;
			@media (any-hover: hover) {
				&:hover {
					background-color: color.adjust(#2aa81a, $lightness: -10%);
				}
			}
		}
		&.icon-telegram {
			background: #039be5;
			font-size: 1.25rem;
			@media (any-hover: hover) {
				&:hover {
					background-color: color.adjust(#039be5, $lightness: -10%);
				}
			}
		}
	}
	// .callback__form
	&__form {
		.wpcf7-form {
			display: flex;
			flex-direction: column;
			gap: rem(16);
		}
		.form__checkbox {
			max-width: rem(225);
		}
	}
}
