@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

.promo {
	position: relative;
	z-index: 1;
	padding: 6.25rem 0;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	min-height: rem(650);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: linear-gradient(268deg, rgba(13, 21, 52, 0) 12.46%, rgba(0, 0, 0, 0.9) 98.65%);
		z-index: -1;
	}
	& + .industries {
		margin-top: -6rem;
	}
	// .promo__caption
	&__caption {
	}
	// .promo__title
	&__title {
		max-width: 47.5rem;
		line-height: 1;
	}
	// .promo__description
	&__description {
	}
	// .promo__hint
	&__hint {
	}
	// .promo__btn
	&__btn {
		margin-top: 8.31rem;
	}
}

.benefits {
	padding: rem(40) 0 rem(70);
	// .benefits__blocks
	&__blocks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(30);
	}
	// .benefits__block
	&__block {
		border-radius: 1.25rem;
		background: #dfe1eb;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		padding: 1.75rem 2.06rem 1.5rem 2.06rem;
		border-left: rem(5) solid #313f69;
	}
	// .benefits__block-title
	&__block-title {
		color: #313f69;
		font-size: 2.875rem;
		font-weight: 500;
		line-height: 100.12%;
	}
	// .benefits__block-text
	&__block-text {
		font-size: 1.125rem;
	}
}

.offer {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background: #313f69;
	color: #fff;
	// .offer__image
	&__image {
		flex: 0 0 50%;
		align-self: stretch;
	}
	// .offer__content
	&__content {
		flex: 0 0 100%;
		transform: translateX(-50%);
	}
	// .offer__body
	&__body {
		width: 50%;
		margin-left: auto;
		padding: 6.25rem rem(62) 6.25rem 4.37rem;
	}
	// .offer__title
	&__title {
	}
	// .offer__subtitle
	&__subtitle {
		margin-top: 1.87rem;
		font-size: 1.375rem;
		line-height: 109.091%;
	}
	// .offer__form
	&__form {
		margin-top: 3.12rem;
		.wpcf7-form {
			display: flex;
			flex-direction: column;
			gap: rem(12);
		}
		.form__checkbox {
			max-width: 15rem;
		}
	}
}
