@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;

.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;

	@media (min-width: $md5) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(30, 30, 30, 0.4);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	background: none;
	max-width: 40.625rem;
	background: #fff;
	color: #141414;
	padding: 0.75rem 0.75rem 3.75rem 0.75rem;
	text-align: left;
	@media (min-width: $md5) {
		text-align: center;
		padding: 4.37rem 5.19rem;
	}
	// .popup__close
	&__close {
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		z-index: 2;
		margin-right: auto;
		margin-bottom: 1.5rem;
		@media (min-width: $md5) {
			margin-bottom: 0;
			margin-right: 0;
			position: absolute;
			top: 0.63rem;
			right: 0.63rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .popup__title
	&__title {
		@media (min-width: $md3) {
			text-align: center;
			margin: 0 -2.5rem;
		}
		&.title {
			font-size: 1.375rem;
			@media (min-width: $md5) {
				font-size: 2rem;
			}
			@media (min-width: $md3) {
				font-size: 2.5rem;
			}
		}
	}
	// .popup__subtitle
	&__subtitle {
		font-weight: 500;
		margin-top: 1rem;
		@media (min-width: $md3) {
			margin-top: 0.63rem;
			font-size: 1.5rem;
			line-height: 108.333%;
			font-weight: 400;
			text-align: center;
		}
	}
	// .popup__form
	&__form {
		margin-top: 1.75rem;
		.wpcf7-form {
			display: flex;
			flex-direction: column;
			gap: rem(24);
			@media (min-width: $md5) {
				gap: rem(16);
			}
			@media (min-width: $md3) {
				align-items: center;
			}
		}
		.wpcf7-form-control-wrap {
			width: 100%;
		}
		.form__btn {
			width: auto;
			order: 1;
			@media (min-width: $md5) {
				margin-top: 1.5rem;
				order: 0;
			}
		}
		.form__checkbox-text {
			&::before {
				border: rem(1) solid #000;
			}
		}
		.form__file {
			width: 100%;
			.form__file-btn {
				border: rem(1) dashed rgba(0, 0, 0, 0.2);
			}
		}
	}
	// .popup__success
	&__success {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	// .popup__success-title
	&__success-title {
	}
	// .popup__success-desc
	&__success-desc {
		margin-top: 1.25rem;
	}
}
