@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;

.select {
	appearance: none;
	font-family: $fontfamily;
	@extend .dropdown__button;
}

.dropdown {
	position: relative;
	width: 100%;
	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}
		.dropdown__button {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
	font-size: rem(15);
	font-weight: 500;
	line-height: 140%;
	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}
	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 0.625rem;
		background: #fff;
		color: #141414;
		font-size: 1rem;
		line-height: 162.5%;
		padding: 0.5rem 1.25rem;
		min-height: rem(46);
		border: rem(1) solid #dfe1eb;
		gap: rem(7);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;

		&.selected {
			color: #232c32;
		}
		&::before {
			transition: transform 0.3s ease 0s;
			order: 1;
			width: em(1, 1.125);
			height: em(1, 1.125);
			font-size: em(0.5, 1.125);
			color: #141414;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:not(.active) {
			&:hover {
				border-color: $accent;
			}
		}
		&.active {
			&::before {
				transform: rotate(-180deg);
			}
		}
		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}

	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		z-index: 4;
		padding: 1.25rem 0.25rem 1.25rem 1.25rem;
		border-radius: 0.625rem;
		transition: 0.2s ease;
		border: rem(1) solid #dfe1eb;
		background: #fff;
		color: #141414;
		box-shadow: rem(2) rem(4) rem(4) 0 rgba(0, 0, 0, 0.12);
		opacity: 0;
		visibility: hidden;
		font-size: 1rem;
		line-height: 125%;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		line-height: 140%;
		border-radius: 0.625rem;
		display: flex;
		flex-direction: column;
		max-height: rem(220);
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&.has-scroll {
			padding-right: rem(10);
		}
		&::-webkit-scrollbar-track {
			background: #fff;
			border-radius: rem(5);
		}
		&::-webkit-scrollbar-thumb {
			background: $accent;
			border-radius: rem(5);
			@media (any-hover: hover) {
				&:hover {
					background: color.adjust($color: $accent, $lightness: -10%);
				}
			}
		}
	}
	&__list-item {
		cursor: pointer !important;

		transition: color 0.3s ease;
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}

		&.sort {
			display: block;
		}
		&.active,
		&[aria-checked="true"] {
			color: $accent;
		}

		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
	}
}
