@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

.industries {
	padding: 0 0 2.5rem 0;
	// .industries__body
	&__body {
		position: relative;
	}
	// .industries__slider
	&__slider {
	}
	// .industries__slide
	&__slide {
		position: relative;
		border-radius: 1.25rem;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(190deg, rgba(13, 21, 52, 0) 55.09%, rgba(0, 0, 0, 0.8) 92.69%);
			z-index: 1;
			pointer-events: none;
		}
	}
	// .industries__slide-caption
	&__slide-caption {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: #fff;
		font-weight: 500;
		display: flex;
		align-items: flex-end;
		padding: 1.25rem;
	}
	// .industries__slider-prev
	&__slider-prev {
	}
	// .industries__slider-next
	&__slider-next {
	}
}

.catalog {
	padding: rem(70) 0 rem(110);
	// .catalog__title
	&__title {
	}
	// .catalog__body
	&__body {
		margin-top: rem(30);
		position: relative;
	}
	// .catalog__slider
	&__slider {
		@media (min-width: $md4) {
			display: grid;
			gap: rem(30);
			grid-template-columns: repeat(2, 1fr);
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .catalog__slider-prev
	&__slider-prev {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .catalog__slider-next
	&__slider-next {
		@media (min-width: $md4) {
			display: none;
		}
	}
	&__slider-prev {
	}
	// .catalog__item
	&__item {
	}
	// .catalog__card
	&__card {
		border-radius: 1.25rem;
		background: #f3f3f5;
		min-height: 100%;
		display: flex;
		align-items: flex-end;
		position: relative;
		overflow: hidden;
		height: 16.25rem;
		padding: rem(30);
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: -2rem;
			right: -15.3rem;
			border-radius: 50%;
			background: #dfe1eb;
			width: 25.4375rem;
			height: 25.4375rem;
			z-index: -1;
			flex-shrink: 0;
			transition: background-color 0.3s ease 0s;
		}
		transition: box-shadow 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: rem(14) rem(134) rem(38) 0px rgba(0, 0, 0, 0), rem(2) rem(21) rem(22) 0 rgba(0, 0, 0, 0.09), rem(1) rem(5) rem(12) 0 rgba(0, 0, 0, 0.1);
				&::before {
					background: #313f69;
				}
				.catalog__card-image img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .catalog__card-image
	&__card-image {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		width: 15.0625rem;
		height: 12.9375rem;
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}
	// .catalog__card-name
	&__card-name {
		color: #141414;
		font-weight: 500;
		max-width: 11.625rem;
	}
}

.cases {
	padding: 6.25rem 0;
	// .cases__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	// .cases__title
	&__title {
	}
	// .cases__link
	&__link {
	}
	// .cases__tabs
	&__tabs {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
	}
	// .cases__tabs-slider
	&__tabs-slider {
	}
	// .cases__tabs-scrollbar
	&__tabs-scrollbar {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .cases__tab-btn
	&__tab-btn {
		width: fit-content;
		color: #141414;
		font-size: 1.125rem;
		font-weight: 500;
		&.active {
			color: #ea9d0f;
			text-decoration-line: underline;
			text-underline-position: from-font;
		}
		&.swiper-slide-fully-visible {
			background: transparent;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ea9d0f;
			}
		}
	}
	// .cases__tabs-controls
	&__tabs-controls {
		position: relative;
		display: flex;
		z-index: 2;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: calc(100% + 1rem);
			height: 100%;
			background: linear-gradient(90deg, transparent 0%, #fff 30%);

			pointer-events: none;
		}
	}
	// .cases__tabs-prev
	&__tabs-prev {
		position: static;
		margin: 0;
		transform: none;
		background: transparent;
	}
	// .cases__tabs-next
	&__tabs-next {
		@extend .cases__tabs-prev;
	}
	// .cases__tabs-scrollbar
	&__tabs-scrollbar {
	}
	// .cases__tabs-content
	&__tabs-content {
	}
	// .cases__tabs-block
	&__tabs-block {
		display: none;
		&.active {
			display: block;
		}
	}
	// .cases__slider
	&__slider {
		margin-top: rem(25);
		position: relative;
	}
	// .cases__slider-block
	&__slider-block {
		overflow: visible;
	}
	// .cases__slider-prev
	&__slider-prev {
	}
}

.case {
	border-radius: 1.25rem;
	background: #f3f3f5;
	display: grid;
	padding: rem(30) rem(30) rem(30) rem(40);
	grid-template-columns: repeat(2, 1fr);
	gap: 3.12rem;
	transition: all 0.3s ease;
	&.swiper-slide {
		opacity: 0;
		z-index: 2;
		&.swiper-slide-prev,
		&.swiper-slide-next {
			opacity: 0.3;
		}
		&.swiper-slide-active {
			opacity: 1;
		}
	}
	// .case__main
	&__main {
	}
	// .case__name
	&__name {
		font-weight: 500;
	}
	// .case__location
	&__location {
		margin-top: rem(20);
		position: relative;
		padding-left: rem(40);
		&::before {
			width: 1.875rem;
			height: 1.875rem;
			font-size: 1.875rem;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #ea9d0f;
		}
	}
	// .case__location-caption
	&__location-caption {
		font-size: 0.875rem;
		line-height: 142.857%;
	}
	// .case__location-address
	&__location-address {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: math.div(1.25, 1.125);
	}
	// .case__desc
	&__desc {
		margin-top: rem(30);
		font-size: 1.125rem;
		line-height: 133.333%;
	}
	// .case__footer
	&__footer {
		margin-top: rem(33);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .case__time
	&__time {
	}
	// .case__time-caption
	&__time-caption {
		font-size: 0.875rem;
		line-height: 142.857%;
	}
	// .case__time-value
	&__time-value {
		font-weight: 500;
	}
	// .case__btn
	&__btn {
	}
	// .case__image
	&__image {
		height: rem(410);
		& img {
			border-radius: rem(20);
		}
	}
}

.desc {
	padding: rem(110) 0 rem(150);
	// .desc__body
	&__body {
		columns: 2;
		column-gap: rem(40);
		font-size: 1.125rem;
		line-height: 133.333%;
		& p {
			&:not(:last-child) {
				margin-bottom: 1.25em;
			}
		}
	}
}
