@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

.industries {
	padding: rem(12.5) em(0);
	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}
	&:has(.industries__list) {
		margin-top: 0 !important;
		padding: 4rem 0 !important;
	}
	// .industries__list
	&__list {
		display: grid;
		gap: rem(30);
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .industries__body
	&__body {
		position: relative;
		max-width: rem(296);
		margin: 0 auto;
		@media (min-width: $md5) {
			max-width: 100%;
		}
	}
	// .industries__slider
	&__slider {
		overflow: visible;
		@media (min-width: $md5) {
			overflow: hidden;
		}
	}
	// .industries__slide
	&__slide {
		position: relative;
		overflow: hidden;
		min-height: 10rem;
		border-radius: 1rem;
		background: #dfe1eb;
		@media (min-width: $md5) {
			border-radius: 1.25rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(190deg, rgba(13, 21, 52, 0) 55.09%, rgba(0, 0, 0, 0.8) 92.69%);
			z-index: 1;
			pointer-events: none;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: transform 0.15s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .industries__slide-caption
	&__slide-caption {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: #fff;
		font-weight: 500;
		display: flex;
		align-items: flex-end;
		padding: 1.25rem;
	}
	// .industries__slider-prev
	&__slider-prev {
		@media (max-width: $md5) {
			left: -1.5rem;
		}
	}
	// .industries__slider-next
	&__slider-next {
		@media (max-width: $md5) {
			@media (min-width: $md6) {
				right: -1.5rem;
			}
		}
	}
}

.cases {
	padding: 4rem 0;
	&.cases--page {
		@media (max-width: $md4) {
			padding-top: 2.5rem;
		}
	}
	@media (min-width: $md4) {
		padding: 6.25rem 0;
	}
	// .cases__content
	&__content {
		display: flex;
		flex-direction: column;
	}
	// .cases__header
	&__header {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	// .cases__title
	&__title {
	}
	// .cases__link
	&__link {
		order: 1;
		margin-top: 1rem;
		display: flex;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $md5) {
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}
	// .cases__tabs
	&__tabs {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
	}
	// .cases__tabs-slider
	&__tabs-slider {
	}
	// .cases__tabs-scrollbar
	&__tabs-scrollbar {
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .cases__tab-btn
	&__tab-btn {
		width: fit-content;
		color: #141414;
		font-size: 1rem;
		font-weight: 500;
		white-space: nowrap;
		&.active {
			color: #ea9d0f;
			text-decoration-line: underline;
			text-underline-position: from-font;
		}
		&.swiper-slide-fully-visible {
			background: transparent;
		}
		transition: color 0.3s ease;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ea9d0f;
			}
		}
	}
	// .cases__tabs-controls
	&__tabs-controls {
		display: none;
		@media (min-width: $md5) {
			position: relative;
			display: flex;
			z-index: 2;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: calc(100% + 1rem);
				height: 100%;
				background: linear-gradient(90deg, transparent 0%, #fff 30%);

				pointer-events: none;
			}
		}
	}
	// .cases__tabs-prev
	&__tabs-prev {
		position: static;
		margin: 0;
		transform: none;
		background: transparent;
	}
	// .cases__tabs-next
	&__tabs-next {
		@extend .cases__tabs-prev;
	}
	// .cases__tabs-scrollbar
	&__tabs-scrollbar {
	}
	// .cases__tabs-content
	&__tabs-content {
	}
	// .cases__tabs-block
	&__tabs-block {
		display: none;
		&.active {
			display: block;
		}
	}
	// .cases__slider
	&__slider {
		margin-top: rem(25);
		position: relative;
	}
	// .cases__slider-block
	&__slider-block {
		overflow: visible;
	}
	// .cases__slider-prev
	&__slider-prev {
	}
	// .cases__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		@media (min-width: $md4) {
			gap: 5rem;
		}
	}
	// .cases__more
	&__more {
		display: flex;
		margin-top: 2.66rem;
		@media (min-width: $md5) {
			margin-left: auto;
			margin-right: auto;
			width: fit-content;
			margin-top: 5rem;
			min-width: 23.75rem;
		}
	}
}

.case {
	border-radius: 1.25rem;

	display: grid;

	gap: 0.75rem;
	transition: all 0.3s ease;

	@media (min-width: $md3) {
		gap: 3.12rem;
		grid-template-columns: repeat(2, 1fr);
	}
	&.swiper-slide {
		opacity: 0;
		z-index: 2;
		background: #f3f3f5;
		box-shadow: rem(1) rem(5) rem(12) rgba(0, 0, 0, 0.1);
		padding: 1rem;
		align-items: center;
		@media (min-width: $md6) {
			padding: 1.25rem;
		}
		@media (min-width: $md4) {
			padding: rem(30) rem(30) rem(30) rem(40);
		}
		&.swiper-slide-prev,
		&.swiper-slide-next {
			@media (min-width: $md4) {
				opacity: 0.3;
			}
		}
		&.swiper-slide-active {
			opacity: 1;
		}
	}
	// .case__main
	&__main {
		display: contents;
		@media (min-width: $md3) {
			display: flex;
			flex-direction: column;
		}
	}
	// .case__name
	&__name {
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		@media (max-width: $md4) {
			line-height: 115%;
		}
	}
	// .case__location
	&__location {
		position: relative;
		padding-left: rem(32);
		&::before {
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #ea9d0f;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			@media (min-width: $md4) {
				width: 1.875rem;
				height: 1.875rem;
				font-size: 1.875rem;
			}
		}
		@media (min-width: $md4) {
			padding-left: rem(40);
		}
		@media (min-width: $md3) {
			margin-top: rem(20);
		}
	}
	// .case__location-caption
	&__location-caption {
		font-size: 1rem;
		line-height: 120%;
		@media (min-width: $md4) {
			line-height: 142.857%;
			font-size: 0.875rem;
		}
	}
	// .case__location-address
	&__location-address {
		line-height: 120%;
		@media (min-width: $md4) {
			line-height: math.div(1.25, 1.125);
			font-weight: 500;
			font-size: 1.125rem;
		}
	}
	// .case__desc
	&__desc {
		display: none;
		line-height: 137.5%;
		.case--single & {
			display: block;
		}
		order: 1;
		@media (min-width: $md5) {
			order: 0;
			display: block;
			font-size: 1.125rem;
			line-height: 133.333%;
			margin-bottom: auto;
		}
		@media (min-width: $md3) {
			margin-top: rem(30);
		}
	}
	// .case__footer
	&__footer {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		order: 1;
		@media (min-width: $md5) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		@media (min-width: $md3) {
			margin-top: rem(33);
		}
	}
	// .case__time
	&__time {
	}
	// .case__time-caption
	&__time-caption {
		font-size: 1rem;
		line-height: 120%;
		@media (min-width: $md4) {
			font-size: 0.875rem;
			line-height: 142.857%;
		}
	}
	// .case__time-value
	&__time-value {
		font-weight: 500;
	}
	// .case__btn
	&__btn {
	}
	// .case__image
	&__image {
		@media (max-width: $md5) {
			aspect-ratio: math.div(16.5, 8.75);
		}
		@media (min-width: $md3) {
			min-height: 100%;
			height: rem(360);
		}
		@media (min-width: $md1) {
			height: rem(410);
		}
		.case--single & {
			height: auto;
			width: 100%;
			max-height: 37.5rem;
			@media (max-width: $md5) {
				aspect-ratio: math.div(296, 221);
			}
		}
		& img {
			border-radius: rem(20);
		}
	}
	// .case__list
	&__list {
		border-top: rem(1) solid #d5d7e4;
		@media (max-width: $md4) {
			margin-top: 0.75rem;
			order: 1;
		}
	}
	// .case__property
	&__property {
		display: flex;
		border-bottom: rem(1) solid #d5d7e4;
		padding: 0.625rem 0rem;
		line-height: 100%;
		gap: 0.25rem;
		flex-direction: column;
		@media (min-width: $md5) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .case__property-name
	&__property-name {
	}
	// .case__property-value
	&__property-value {
		font-weight: 500;
		@media (min-width: $md5) {
			text-align: right;
		}
	}
}

.desc {
	padding: 4rem 0;
	@media (min-width: $md3) {
		padding: rem(110) 0 rem(150);
	}
	// .desc__body
	&__body {
		font-size: 1rem;
		line-height: 137.5%;
		@media (min-width: $md3) {
			column-gap: rem(40);
			font-size: 1.125rem;
			line-height: 133.333%;
			columns: 2;
		}
		&.full {
			& p {
				@media (max-width: $md5) {
					display: block;
				}
			}
		}
		& p {
			@media (max-width: $md5) {
				display: none;
				&:nth-child(1),
				&:nth-child(2) {
					display: block;
				}
			}
			@media (min-width: $md5) {
				break-inside: avoid;
			}
			&:not(:last-child) {
				margin-bottom: 1.25em;
			}
		}
	}
	// .desc__more
	&__more {
		margin-top: 1rem;
		display: flex;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		&::before {
			transform: rotate(90deg);
		}
		&.active {
			&::before {
				transform: rotate(-90deg);
			}
		}
		@media (min-width: $md5) {
			display: none;
		}
	}
}
