@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;

.product-card {
	padding: 5.13rem 0 4rem;
	@media (min-width: $md3) {
		padding: 1.75rem 0 6.88rem;
	}
	// .product-card__header
	&__header {
		display: grid;
		gap: 1.5rem;
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.5rem;
			gap: 1.88rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .product-card__images
	&__images {
		min-width: 0;
	}
	// .product-card__slider
	&__slider {
	}
	// .product-card__slide
	&__slide {
		height: auto;
		& img {
			width: 100%;
		}
	}
	// .product-card__thumbs
	&__thumbs {
		display: none;
		@media (min-width: $md5) {
			margin-top: 1.44rem;
			display: block;
		}
	}
	// .product-card__thumb
	&__thumb {
		border: rem(1) solid #e1e1e1;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 6.75rem;
		padding: 0.5rem;
		&.swiper-slide-thumb-active {
			border: rem(1) solid #313f69;
		}
	}
	// .product-card__prev
	&__prev {
		&.swiper-button-prev {
			left: 0.25rem;
		}
	}
	// .product-card__next
	&__next {
		&.swiper-button-next {
			right: 0.25rem;
		}
	}
	// .product-card__main
	&__main {
		display: contents;
		@media (min-width: $md4) {
			display: block;
		}
	}
	// .product-card__heading
	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.65rem;
		order: -1;
		@media (min-width: $md4) {
			order: 0;
		}
	}
	// .product-card__articul
	&__articul {
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .product-card__availability
	&__availability {
		font-weight: 500;
		border-radius: 5.625rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.37rem 0.81rem 0.37rem 0.44rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		&::before {
			font-size: 1.5rem;
		}
		&.in-stock {
			background: #05911c;
			color: #fff;
		}
		&.not-available {
			background: #910505;
			color: #fff;
		}
	}
	// .product-card__title
	&__title {
		font-weight: 500;
		order: -2;
		line-height: 114.286%;
		font-size: 1.75rem;
		@media (min-width: $md4) {
			line-height: 1;
			font-size: 1.875rem;
			margin-top: 1.25rem;
			order: 0;
		}
		@media (min-width: $md3) {
			font-size: 2.625rem;
		}
	}
	// .product-card__note
	&__note {
		font-size: 1rem;
		line-height: 140%;
		@media (min-width: $md4) {
			line-height: 133.333%;
			font-size: 1.125rem;
			margin-top: rem(8);
		}
	}
	// .product-card__info
	&__info {
		font-size: 1rem;
		line-height: 140%;
		@media (min-width: $md4) {
			line-height: 133.333%;
			font-size: 1.125rem;
			margin-top: 2.25rem;
		}
	}
	// .product-card__info-item
	&__info-item {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .product-card__desc
	&__desc {
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
	}
	// .product-card__desc-block
	&__desc-block {
		&:not(:last-child) {
			margin-bottom: rem(16);
			@media (min-width: $md4) {
				margin-bottom: rem(30);
			}
		}
	}
	// .product-card__desc-caption
	&__desc-caption {
		font-weight: 500;
	}
	// .product-card__desc-text
	&__desc-text {
		line-height: 140%;
		margin-top: 0.5rem;
		@media (min-width: $md4) {
			margin-top: 0.62rem;
			line-height: 133.333%;
			font-size: 1.125rem;
		}
		& ul {
			list-style: disc;
			padding-left: 1.5em;
			& li {
				&::marker {
					font-size: 0.65em;
				}
			}
		}
	}
	// .product-card__btn
	&__btn {
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
	}
}

.product-stats {
	padding: em(0) em(0) rem(32) em(0);
	@media (min-width: $md4) {
		background: #f3f3f5;
		padding: 6.87rem 0;
	}
	// .product-stats__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		@media (min-width: $md4) {
			gap: 0;
		}
	}
	// .product-stats__tabs
	&__tabs {
		display: contents;
		@media (min-width: $md4) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 4.81rem;
			row-gap: 1.5rem;
		}
	}
	// .product-stats__tab
	&__tab {
		display: none;
		@media (min-width: $md4) {
			display: block;
			font-size: 1.375rem;
			font-weight: 500;
			line-height: 109.091%;
			border-bottom: rem(2) solid transparent;

			&.active {
				color: #ea9d0f;
				border-bottom: rem(2) solid #ea9d0f;
			}
		}
	}
	// .product-stats__mobile-tab
	&__mobile-tab {
		padding: 1rem 0.75rem;
		margin: 0 rem(-12);
		width: calc(100% + rem(24));
		color: #fff;
		font-size: 1.125rem;
		line-height: 140%;
		background: #313f69;
		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			order: 1;
			flex-shrink: 0;
			transform-origin: center;
			transition: transform 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(90deg);
			}
		}
		@media (min-width: $md5) {
			width: 100%;
			margin: 0;
		}
		@media (min-width: $md4) {
			display: none;
		}
	}
	&__block-content {
		padding: rem(12);
		@media (min-width: $md4) {
			padding: 0;
			display: block !important;
		}
	}
	// .product-stats__content
	&__content {
		display: contents;
		@media (min-width: $md4) {
			margin-top: 3.13rem;
			display: block;
		}
	}
	// .product-stats__block
	&__block {
		@media (min-width: $md4) {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	// .product-stats__list
	&__list {
		max-width: 43.8rem;
		@media (min-width: $md4) {
			border-top: rem(1) solid #d5d7e4;
		}
		& li {
			padding: 0.53rem 0;
			font-size: 1rem;
			line-height: 125%;
			border-bottom: rem(1) solid #d5d7e4;
		}
	}
	// .product-stats__docs
	&__docs {
		max-width: 36.5625rem;
		display: flex;
		flex-direction: column;
		gap: 1.37rem;
	}
	// .product-stats__doc
	&__doc {
		display: flex;
		align-items: center;
		gap: 1.13rem;
		border: rem(1) solid #d5d7e4;
		padding: 0.94rem 1.06rem;
		font-size: 1.125rem;
		line-height: 133.333%;
		& span {
			text-decoration-line: underline;
			text-underline-position: from-font;
		}
		&::before {
			font-size: 2rem;
			color: #ea9d0f;
		}
		@media (any-hover: hover) {
			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}
}
