<div class="case swiper-slide">
    <div class="case__main">
        <a href="" class="case__name title-sm">Проект поставки оборудования для&nbsp;лабораторного стенда</a>
        <div class="case__location icon-location">
            <div class="case__location-caption">Регион поставки:</div>
            <address class="case__location-address">Ленинградская область</address>
        </div>
        <p class="case__desc">Поставка учебных однокомпонентных электронных модулей управления, модулей защиты схем управления электроприводами в цепях переменного тока от токовых перегрузок, а также электронного модуля передачи команд управления исполнительными элементами путем коммутации их электрических цепей своими переключающими контактами.</p>
        <div class="case__footer">
            <div class="case__time">
                <div class="case__time-caption">Срок поставки договор/факт:</div>
                <div class="case__time-value title-sm">90 дней/68 дней</div>
            </div>
            <a href="" class="case__btn btn btn-primary btn-lg">Подробнее</a>
        </div>
    </div>
    <a href="" class="case__image">
        <img src="@img/case.jpg" class="cover-image" alt="Фото">
    </a>
</div>