@use "_mixins" as *;

$fontfamily: "Muller";

$md1: 1439.98px;
$md2: 1223.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 379.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: rem(1200);
$containerPadding: 30;

$text: #141414;
$white: #fff;
$accent: #ea9d0f;
$grey: #dfe1eb;
$blue: #313f69;
$red: #fa0644;

$ui-index-1: 1;
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$header: var(--header-height, #{rem(124)});
