@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Bold.woff") format("woff"), url("../fonts/Onest-Bold.woff2") format("woff2");
                            font-weight: 700;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Light.woff") format("woff"), url("../fonts/Onest-Light.woff2") format("woff2");
                            font-weight: 300;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Medium.woff") format("woff"), url("../fonts/Onest-Medium.woff2") format("woff2");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Onest';
                            font-display: swap;
                            src: url("../fonts/Onest-Regular.woff") format("woff"), url("../fonts/Onest-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
