@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;
@use "icons" as *;

.wpcf7-response-output {
	display: none !important;
}
.wpcf7-not-valid-tip {
	margin-top: 0.25em;
}

.wpcf7-not-valid-tip {
	text-align: left;
}

.form {
	// .form__title
	&__title {
		line-height: 1;
		margin-bottom: 0.25rem;
	}
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0;
		background: transparent;
		color: currentColor;
		border-bottom: rem(1) solid currentColor;
		line-height: 133.333%;
		font-size: 1rem;
		padding: 0.5rem 0;
		@media (min-width: $md5) {
			padding: 0.75rem 0;
			font-size: 1.125rem;
		}
		&::placeholder {
			opacity: 0.4;
			color: currentColor;
		}
		&:hover,
		&:focus {
			border-color: $accent;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
	}
	// .form__textarea
	// &__textarea {
	// 	height: rem(78);
	// 	resize: none;
	// 	text-overflow: ellipsis;
	// 	transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
	// 	width: 100%;
	// 	background: #fff;
	// 	padding: 0 0 0.94rem 0;
	// 	border: 0;
	// 	border-bottom: rem(1) solid #d7d7d7;
	// 	color: $text;
	// 	font-size: 1rem;
	// 	line-height: 150%;
	// 	@media (min-width: $md2) {
	// 		font-size: 1.125rem;
	// 	}
	// 	&::placeholder {
	// 		opacity: 1;
	// 		color: rgba(43, 50, 57, 0.3);
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		border-color: $text;
	// 	}
	// 	&:disabled {
	// 		background: #ddd;
	// 		border-color: #ddd;
	// 	}
	// 	&._error {
	// 		outline: 1px solid #ba2028;
	// 		background: #fff1ed;
	// 	}
	// }

	//  .form__checkbox
	&__checkbox {
		display: block;
		.wpcf7-list-item {
			margin-left: 0 !important;
		}
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& + .wpcf7-list-item-label .form__checkbox-text {
				&::before {
					background: #313f69;
					color: #fff;
					@extend %ic, .icon-check;
				}
			}
		}
		&.error {
			& + .form__checkbox-text {
				&::before {
					border: rem(1) solid red;
				}
			}
		}
	}

	//  .form__checkbox-text
	&__checkbox-text {
		position: relative;
		display: block;
		width: fit-content;
		font-size: 1rem;
		line-height: 1;
		padding: 0 0 0 1.5rem;
		min-height: 0.9375rem;
		text-align: left;
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 0.9375rem;
			height: 0.9375rem;
			font-size: 0.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			border: rem(1) solid #dfe1eb;
			transition: background-color 0.3s ease, color 0.3s ease;
		}
		& a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .form__footer
	&__footer {
	}

	// .form__btn
	&__btn {
		cursor: pointer;
		.wpcf7-spinner {
			display: none;
		}
		& input[type="submit"] {
			background: transparent;
			padding: 0;
			margin: -0.15rem 0;
			font-family: inherit;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
			text-transform: inherit;
			cursor: pointer;
		}
	}
	// .form__file
	&__file {
		display: block;
		margin-top: rem(12);
		@media (min-width: $md4) {
			margin-top: rem(18);
		}
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		color: currentColor;

		line-height: 152.941%;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		border: rem(1) dashed rgba(255, 255, 255, 0.2);
		display: flex;
		align-items: center;
		gap: 0.44rem;

		&::before {
			font-size: 1.4rem;
			width: 1.5rem;
			height: 1.5rem;
		}
		font-size: 1rem;
		padding: 0.75rem 1rem;
		@media (min-width: $md4) {
			padding: 0.8rem 1.38rem;
			font-size: 1.0625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .form__bottom
	&__bottom {
		display: flex;
		flex-direction: column-reverse;
		margin-top: rem(10);
		gap: 2rem;
		@media (min-width: $md5) {
			gap: 1rem;
			margin-top: rem(20);
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			.form__checkbox {
				max-width: rem(225);
			}
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.3s ease 0s;
	border-radius: 5.625rem;
	font-size: 1rem;
	line-height: 100%;
	padding: 0.66rem 1.4375rem;
	min-height: rem(40);
	@media (min-width: $md5) {
		padding: 0.9375rem 1.4375rem;
	}
	&::before {
		order: 1;
	}
	&.btn-primary {
		color: #fff;
		background: #ea9d0f;
		&:hover {
			background: #cc7f00;
		}
		&:active {
			background: color.adjust($color: #cc7f00, $lightness: -10%);
		}
	}

	&.btn-white {
		background: #fff;
		color: #141414;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
		&:active {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
	// &.btn-secondary {
	// 	background: #fa5300;
	// 	color: #fff;
	// 	&:hover {
	// 		background: #e44c00;
	// 	}
	// 	&:active {
	// 		background: color.adjust($color: #e44c00, $lightness: -10%);
	// 	}
	// }
	// &.btn-white {
	// 	border: 2px solid #fff;
	// 	color: #fff;
	// 	&:hover {
	// 		background: #393939;
	// 	}
	// 	&:active {
	// 		background: color.adjust($color: #393939, $lightness: -10%);
	// 	}
	// }
	// &.btn-blue {
	// 	background: #38b6ff;
	// 	color: #fff;
	// 	&:hover {
	// 		background: #1ca2ef;
	// 	}
	// 	&:active {
	// 		background: color.adjust($color: #1ca2ef, $lightness: -10%);
	// 	}
	// }
	&.btn-fullwidth {
		width: 100%;
	}

	&.btn-lg {
		@media (min-width: $md4) {
			font-size: 1.125rem;
			padding: 1.44rem 3.13rem;
		}
	}
	&.btn-md {
		min-height: rem(62);
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

// .switcher {
// 	// .switcher__input
// 	&__input {
// 		&:checked {
// 			& + .switcher__btn {
// 				&::before {
// 					left: rem(2);
// 				}
// 				background: #81a6ca;
// 			}
// 		}
// 	}
// 	// .switcher__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(35);
// 		height: rem(20);
// 		border-radius: 6.25rem;
// 		background: #81a6ca;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(17);
// 			width: rem(16);
// 			transition: left 0.3s ease 0s;
// 			border-radius: 50%;
// 			background: #fff;
// 			height: calc(100% - rem(4));
// 		}
// 	}
// }
