@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;

.header {
	// .header__top
	&__top {
		padding: 1.25rem 0 0.67rem;
		background: #dfe1eb;
	}
	// .header__top-body
	&__top-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.875rem;
	}
	// .header__top-menu
	&__top-menu {
		& ul {
			display: flex;
			align-items: center;
			gap: 2.81rem;

			& a {
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: #ea9d0f;
					}
				}
			}
		}
	}
	// .header__top-worktime
	&__top-worktime {
	}
	// .header__body
	&__body {
	}
	// .header__body-content
	&__body-content {
		padding: 0.94rem 0 0.69rem;
		display: flex;
		align-items: center;
		border-bottom: rem(1) solid #dfe1eb;
	}
	// .header__logo
	&__logo {
		max-width: rem(152);
		margin-right: rem(38);
	}
	// .header__location
	&__location {
		font-size: 0.875rem;
		line-height: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		max-width: rem(260);
		margin-right: auto;
		&::before {
			flex-shrink: 0;
			width: 1.5rem;
			font-size: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ea9d0f;
		}
	}
	// .header__contacts
	&__contacts {
		display: flex;
		align-items: center;
		gap: 1.94rem;
	}
	// .header__contact
	&__contact {
		display: flex;
		align-items: center;
		gap: 0.44rem;
		font-size: 1.125rem;
		font-weight: 500;
		transition: color 0.3s ease;
		&::before {
			flex-shrink: 0;
			font-size: 1.125rem;
			width: 1.125rem;
			height: 1.125rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ea9d0f;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ea9d0f;
			}
		}
	}
	// .header__callback
	&__callback {
		margin-left: 3rem;
	}
	// .header__bottom
	&__bottom {
	}
	// .header__bottom-content
	&__bottom-content {
		padding: 0.94rem 0 1rem;
		display: flex;
		align-items: center;
	}
	// .header__search
	&__search {
		flex: 0 0 18.75rem;
		position: relative;
	}
	// .header__search-input
	&__search-input {
		transition: all 0.3s ease;
		border: rem(1) solid #dfe1eb;
		padding: 0.4rem 0.9375rem;
		min-height: rem(36);
		width: 100%;
		color: $text;
		text-overflow: ellipsis;
		font-size: 0.9375rem;
		line-height: 1rem;
		&::placeholder {
			color: #9ea3b5;
			opacity: 1;
		}
		&:focus {
			border-color: #ea9d0f;
		}
	}
	// .header__search-btn
	&__search-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.menu {
	background: #fff;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform 0.3s ease 0s;
	transform: translateX(100%);
	padding: 10rem 1rem 2rem;
	.header.open-menu & {
		transform: translateX(0);
		@media (min-width: $md3) {
			transform: none;
		}
	}

	@media (min-width: $md5) {
		padding: 8rem 1rem 2rem;
	}
	@media (min-width: $md3) {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
		padding: 0;
		transition: none;
		overflow-x: visible;
		overflow-y: visible;
		flex-direction: row;
		align-items: center;
		display: flex;
		transform: none;
		flex: 1 1 auto;
		gap: 1.94rem;
	}

	// .menu__list
	&__list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 1em;
		justify-content: flex-start;
		@media (min-width: $md3) {
			gap: 2.19rem;
			flex-direction: row;
			font-size: 0.875rem;
		}
		@media (min-width: $md1) {
			justify-content: space-between;
			font-size: 1rem;
		}
	}
	// .menu__item
	&__item {
		display: flex;
		align-items: center;
		&.menu-parent {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0.5rem;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
							transform: translate3d(0, 0, 0);
						}
					}

					& .menu__arrow {
						&::before {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		color: currentColor;
		display: inline-block;
		transition: color 0.3s ease 0s;
		flex: 0 1 calc(100% - 2rem);

		font-weight: 500;

		&.active {
			color: $accent;
			& + .menu__arrow {
				color: $accent;
			}
		}

		@media (min-width: $md3) {
			flex: 0 1 auto;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		order: 1;
		display: flex;
		align-items: center;
		color: currentColor;

		&::before {
			order: 1;
			transition: transform 0.3s ease 0s;
			font-size: 0.5em;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
}

.submenu {
	background: #f6f6f6;
	position: static;
	display: none;
	padding: 0 1.37rem 1.87rem 5.875rem;
	@media (min-width: $md4) {
		padding: 1.87rem 0;
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		top: 100%;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(0) translate3d(0, 0, 1px);
		transform-origin: top center;
		transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s ease;
		.container {
			position: relative;
		}
	}
	&.open {
		@media (max-width: $md4) {
			display: block;
		}
		@media (min-width: $md4) {
			@media (hover: none) {
				opacity: 1;
				visibility: visible;
				transform: scaleY(1) translate3d(0, 0, 1px);
			}
		}
	}
	& ul {
		display: flex;
		flex-direction: column;
		line-height: 110%;
		font-size: rem(17);
		gap: 0.75rem;
		@media (min-width: $md5) {
			gap: 0.875rem;
		}
		@media (min-width: $md1) {
			gap: 1rem;
		}
		& li {
			& a {
				transition: color 0.3s ease;
				display: inline-block;
				@media (any-hover: hover) {
					&:hover {
						color: $accent;
					}
				}
			}
		}
	}
	// .submenu__close
	&__close {
		position: absolute;
		top: 0.94rem;
		right: 1.37rem;
		font-size: 1.375rem;

		line-height: 140%;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		transition: color 0.3s ease;
		@media (min-width: $md4) {
			right: 0;
			top: 0.62rem;
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			display: none;
			&:hover {
				color: #fa0644;
			}
		}
	}
	// .submenu__close-text
	&__close-text {
		display: none;
		@media (min-width: $md4) {
			display: block;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	width: rem(24);
	height: rem(24);
	z-index: 11;

	& span {
		display: block;
		padding: rem(2) rem(0);
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: contents;
		pointer-events: none;
		& svg {
			display: block;
			height: rem(3);
			width: 100%;
			color: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: contents;
		}
	}
	.header.open-menu & {
		color: $text;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			& svg {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(7));
				& svg {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-7));
				& svg {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
