@use "sass:math";
@use "sass:color";
@use "_mixins" as *;
@use "_variables" as *;
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
@use "modules/breadcrumbs";
@use "modules/select";
@use "modules/pagination";
// @use "modules/phone-input";

//============ МОДУЛИ ====================

* {
	scroll-margin-top: rem(82);
}

.title-lg {
	font-weight: 500;
	font-size: rem(32);
	line-height: 112.5%;
	@media (min-width: $md5) {
		line-height: normal;
		font-size: 2.5rem;
	}
	@media (min-width: $md3) {
		font-size: 3.75rem;
	}
}

.title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 112.5%;
	@media (min-width: $md3) {
		line-height: 121.739%;
		font-size: 2.875rem;
	}
}

.title-md {
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 109.091%;
}

.title-sm {
	font-size: 1.25rem;
	line-height: 100%;
	@media (min-width: $md4) {
		line-height: 109.091%;
		font-size: 1.375rem;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.fw-bold {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

.text-center-mobile {
	@media (max-width: $md4) {
		text-align: center;
	}
}

.widgets {
	display: none;
	@media (min-width: $md4) {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		z-index: 6;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.81rem;
		right: 2rem;
	}
	@media (min-width: $md3) {
		right: 3.75rem;
	}
	// .widgets__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		color: #fff;
		background: #ea9d0f;
		transition: background-color 0.3s ease;
		width: 3.5rem;
		height: 3.5rem;
		font-size: 1.25rem;
		@media (min-width: $md3) {
			width: 4.0625rem;
			height: 4.0625rem;
			font-size: 1.5625rem;
		}
		&:hover {
			background: #cc7f00;
		}
		&:active {
			background: color.adjust($color: #cc7f00, $lightness: -10%);
		}
	}
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 0.31rem;
	// .tabs__item
	&__item {
		line-height: 155%;
		background: #f3f6fa;
		border-radius: rem(10);
		color: rgba($color: $text, $alpha: 0.5);
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		font-size: 0.8125rem;
		padding: 0.62em 0.88rem;
		text-align: center;
		&.active {
			color: #fff;
			background: $text;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background: $text;
			}
		}

		@media (min-width: $md4) {
			min-width: rem(140);
			padding: 0.75em 1.72rem;
			font-weight: 500;
			font-size: 0.875rem;
		}
	}
}

.tab-content {
	display: none;
	&.active {
		display: block;
	}
}

.pc-only {
	@media (max-width: $md3) {
		display: none !important;
	}
}

.mobile-only {
	@media (min-width: $md3) {
		display: none !important;
	}
}

// .favorite-btn {
// 	width: rem(40);
// 	height: rem(40);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-size: 1.5rem;
// 	background: #f3f6fa;
// 	border-radius: 50%;
// 	flex-shrink: 0;
// 	&::before {
// 		@extend %ic, .icon-heart;
// 		transition: all 0.3s ease 0s;
// 	}
// 	&.active {
// 		&::before {
// 			@extend %ic, .icon-heart-fill;
// 			color: #82a6ca;
// 			animation: pulse 0.3s ease-in-out;
// 			@keyframes pulse {
// 				0% {
// 					transform: scale(1);
// 				}
// 				50% {
// 					transform: scale(1.4);
// 				}
// 				100% {
// 					transform: scale(1);
// 				}
// 			}
// 		}
// 	}
// }

.swiper {
	min-width: 0;
	max-width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	// position: static;
	// top: auto;
	// left: auto;
	// margin: 0;
	// transform: none;
	transition: color 0.3s ease 0s;
	background-color: #fff;
	transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
	z-index: 2;
	width: 2.25rem;
	height: 2.25rem;
	font-size: 1rem;
	border-radius: 50%;
	color: #141414;
	&::after {
		display: none;
	}
	&.swiper-button-dark {
		background: #dfe1eb;
	}
	@media (any-hover: hover) {
		&:hover {
			color: $accent;
		}
	}
}

.swiper-button-next {
	right: -0.5rem;
	@media (min-width: $md4) {
		right: -1.25rem;
	}
	@extend %ic;
	@extend .icon-next;
}
.swiper-button-prev {
	left: -0.5rem;
	@media (min-width: $md4) {
		left: -1.25rem;
	}
	@extend %ic;
	@extend .icon-prev;
}

.swiper-pagination {
	position: static;
	bottom: auto;
	margin-top: 1.25rem;
	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: 0.5rem;
		height: 0.5rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		background: #d9d9d9;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: #737373;
		}
	}
}

.swiper-scrollbar {
	&.swiper-scrollbar-horizontal {
		position: static;
		margin-top: 0.75rem;
		border-radius: 0.25rem;
		margin-left: auto;
		margin-right: auto;
		background: #f3f3f5;

		height: 0.25rem;
		.swiper-scrollbar-drag {
			border-radius: 0.25rem;
			height: 0.25rem;
			display: block;
			background: #ea9d0f;
		}
	}
}

.pc-only {
	@media (max-width: $md3) {
		display: none !important;
	}
}

.more-link {
	color: #ea9d0f;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	transition: color 0.3s ease;
	font-size: 1rem;
	&::before {
		order: 1;
		transition: transform 0.3s ease;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.5rem;
		@media (min-width: $md4) {
			width: 1.625rem;
			height: 1.625rem;
			font-size: 1.625rem;
		}
	}
	@media (min-width: $md4) {
		gap: 0.62rem;
		font-size: 1.125rem;
	}
	@media (any-hover: hover) {
		&:hover {
			color: color.adjust($color: #ea9d0f, $lightness: -10%);
			&::before {
				transform: translateX(0.5rem);
			}
		}
	}
}

.mobile-only {
	@media (min-width: $md5) {
		display: none !important;
	}
}

// .tablet-only {
// 	@media (min-width: $md2) {
// 		display: none;
// 	}
// }

// .pagination {
// 	display: flex;
// 	justify-content: center;
// 	gap: 0.63rem;
// 	// .pagination__btn
// 	&__btn {
// 		line-height: 1.6;
// 		font-size: 1rem;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			font-size: 1.125rem;
// 			padding: 0.75rem 0.88rem;
// 		}
// 		&:first-child {
// 			@media (min-width: $md4) {
// 				margin-right: 1.87rem;
// 			}
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			&::before {
// 				@extend %ic, .icon-chevron;

// 				transform: rotate(180deg);
// 			}
// 		}
// 		&:last-child {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			@media (min-width: $md4) {
// 				margin-left: 1.87rem;
// 			}
// 			&::before {
// 				@extend %ic, .icon-chevron;
// 			}
// 		}
// 		transition: color 0.3s ease 0s;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			color: #9aa2a9;
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #fff;
// 			}
// 		}
// 		&::before {
// 			@media (min-width: $md4) {
// 				display: none;
// 			}
// 		}
// 		& span {
// 			display: none;
// 			font-size: 1rem;
// 			@media (min-width: $md4) {
// 				display: block;
// 			}
// 		}
// 		&[aria-disabled="true"] {
// 			pointer-events: none;
// 			color: #9aa2a9;
// 		}
// 	}
// 	// .pagination__item
// 	&__item {
// 		justify-content: center;
// 		align-items: center;
// 		display: none;
// 		width: 2.5rem;
// 		height: 2.5rem;
// 		font-size: 0.66575rem;
// 		@media (min-width: $md4) {
// 			width: 2.875rem;
// 			height: 2.875rem;
// 			font-size: 0.875rem;
// 			display: flex;
// 		}
// 		@media (min-width: $md2) {
// 			font-size: 1rem;
// 			width: 3.5rem;
// 			height: 3.5rem;
// 		}
// 		flex-shrink: 0;

// 		border-radius: 50%;
// 		border: 1px solid rgba($color: #fff, $alpha: 0.3);
// 		color: #fff;
// 		&[href] {
// 			transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s;
// 			@media (any-hover: hover) {
// 				&:hover {
// 					border-color: #fff;
// 					background: #fff;
// 					color: $dark;
// 				}
// 			}
// 		}
// 		&.active {
// 			border-color: #fff;
// 			background: #fff;
// 			color: $dark;
// 			display: flex;
// 			& + * {
// 				display: flex;
// 				& + * {
// 					display: flex;
// 				}
// 			}
// 			& ~ :nth-last-child(2),
// 			& ~ :nth-last-child(3) {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $blue;
$scrollbarHover: color.adjust(
	$color: $scrollbarColor,
	$lightness: -10%,
);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
